version: '3.1'

services:
  db:
    image: mysql:5.5
    restart: always
    ports:
      - 3306:3306
    volumes:
      - ./src/db:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: znn_data 
      MYSQL_USER: znn
      MYSQL_PASSWORD: znn_pass
      
  znn-high:
    image: cmendes/znn:high
    restart: always
    ports: 
      - "1080:80"
    environment:
      DB_USER: znn
      DB_PASS: znn_pass
      DB_NAME: znn_data
      DB_HOST: db
      DB_PORT: 3306

  znn-text:
    image: cmendes/znn:text
    restart: always
    ports: 
      - "1081:80"
    environment:
      DB_USER: znn
      DB_PASS: znn_pass
      DB_NAME: znn_data
      DB_HOST: db
      DB_PORT: 3306
  
  znn-low:
    image: cmendes/znn:low
    restart: always
    ports: 
      - "1082:80"
    environment:
      DB_USER: znn
      DB_PASS: znn_pass
      DB_NAME: znn_data
      DB_HOST: db
      DB_PORT: 3306